.centered{
	display:block;
	margin:auto;
}

.toprightcorner{
	position:absolute;
	top:1em;
	right:2em;
	width: 8%;
}

.medium .prettyprint{
	font-size: 10pt;
	line-height:1.5em;
}

.small .prettyprint{
	font-size: 8pt;
	line-height:1.5em;
}

.slimmer ul{
	width: 80%;
}

.smaller{
	font-size: 10pt;
}